p {
    background-color: #08086b ;
    color: white;
    text-align: center;
    font-size: 30px;
    width: 550px;
    margin: 15% auto;
    padding: 80px 10px;
    font-family: 'Sansita Swashed', cursive;
}